.MatchPage{
    display: grid;
    grid-template-columns: 1fr 5fr;

    .year-selector {
        justify-self: end;
        padding: 30px;
    }

    .home-page-redirect{
        align-self:center;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    /*.page-heading{
        margin: 20px auto;
    }*/

    .page-header-section{
        display: grid;
        grid-template-columns: 4fr 1fr;

        .page-heading{
            align-self: start;
            margin: 30px 10px 20px 10px;
        }

        .team-link {
            text-align: right;
            margin: 30px 10px 20px 10px;
        }
    }
}